p{
    padding-left: 50px;
    color: chocolate;
    text-align: justify;
    padding-right: 150px;
}
body{
    background-image: url(https://pixabay.com/photos/tree-sunset-clouds-sky-silhouette-736885/);
    background-repeat: no-repeat;
    background-size: 1000px 600px;
}
h1{
    color: brown;
    text-align: center;
    margin-top: 50px;
}